# Vorlage für secrets.properties
# Kopiere diese Datei als "secrets.properties" und trage deine echten Werte ein.
# secrets.properties wird NICHT ins Repository eingecheckt (.gitignore).

BOSCH_CLIENT_ID=euda-2c8d2760-d459-40aa-adc9-6eb7a8b91bd7
BOSCH_CLIENT_SECRET=DEIN_CLIENT_SECRET_HIER
